#cookie_banner {
    position: fixed;
    background-color: white;
    border-radius: 5px;
    bottom: 2vh;
    right: 2vw;
    margin-left: 2vw;
    padding: 10px 15px;
    max-width: 500px;
}

#cookie_banner * {
    color: black;
}

#cookie_banner button {
    margin-top: 7px;
    padding: 4px 6px;
    cursor: pointer;
}

#cookie_banner a{
    color: blue;
}

#cookie_icon{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media screen and(max-width: 768px){
    #cookie_banner{
        margin: auto;
    }
}